<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <a href="/"><h1>Survey</h1></a>
        <p>Make a survey.</p>

        <form class="" action="/create_form" method="" style="text-align:right;">
          <div class="container">
            <div class="container">
              <label for="number_of_questions">Number of questions</label>
              <input type="number" name="number_of_questions" value="1">
            </div>
            <div class="container">
              <label for="number_of_questions">Name survey</label>
              <input type="text" name="survey_name" value="Survey">
            </div>
            <button type="submit" class="btn btn-info" name="button">Make Form</button>
          </div>
        </form>
      </div>
    </div>
    <%=yield%>
  </body>
</html>
